## SSH configs for ansible to vagrant guests
Host *
 BatchMode true
 StrictHostKeyChecking false
 UserKnownHostsFile /dev/null
  User vagrant
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentitiesOnly yes

Host elk0
  HostName 127.0.0.1
  Port 2222
  IdentityFile .vagrant/machines/elk0/virtualbox/private_key
